@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}
:root {
  --red: #b03036;
  --text: #403e3f;
  --white-color: #ffffff;
  --black-bg: #472a00;
  --sub-menu-color: #cdfe6e;
  --text-mute: #777;
}
li,
a {
  text-decoration: none !important;
  list-style: none !important;
  
}

/* .header{
    background: #ff8000;
} */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  opacity: 0;
  transform: rotateX(90deg);
  animation: mymove 1s ease-in-out forwards;
  box-shadow: 0 0 10px rgba(197, 194, 194, 0.774);
}

@keyframes mymove {
  from {
    transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
.for_pc_none {
  display: none;
}
.for_pc_none .logo {
  width: 230px;
  height: 42px;
}
.ham {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  top: 0px;
}
.ham span {
  position: absolute;
  top: 18px;
  left: 5px;
  background: #b03036;
  height: 3px;
  width: 28px;
  transition: 0.4s ease-in-out;
  border-radius: 1rem;
}
.ham span:nth-child(1) {
  transform: translateY(8px);
  width: 21px;
}
.ham span:nth-child(3) {
  transform: translateY(-8px);
  width: 21px;
}
.transform span:nth-child(1) {
  transform: rotate(45deg);
}
.transform span:nth-child(2) {
  transform: translateX(40px);
}
.transform span:nth-child(3) {
  transform: rotate(315deg);
}
.logo {
  height: 50px;
  width: 280px;
}
.logo img {
  height: 100%;
  width: 100%;
}
.Phone_style {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
}
.login_wrapper ul {
  padding: 0;
  margin: 0;
  gap: 25px;
}
.login_wrapper ul li a {
  color: var(--white-color);
  font-weight: 500;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}
nav ul li a.active,
nav ul li a:hover {
  color: var(--red);
}

.for_padding {
  padding: 30px 0;
}
.menu_wrapper {
  position: relative;
}
.menu_wrapper .fa-angle-down {
  transition: 0.4s ease-in-out;
  font-size: 15px;
}
.menu_wrapper:hover .fa-angle-down {
  transform: rotateX(180deg);
  transition: 0.4s ease-in-out;
}

.sub_menu_account,
.submenu_wrapper {
  position: absolute;
  top: 53px;
  left: -5px;
  height: 400px;
  width: 900px;
  background: var(--red);
  z-index: 99;
  transform: translateY(20px);
  transition: 0.4s ease-in;
  opacity: 0;
  visibility: hidden;
  display: flex;
}

.sub_menu_Services,
.sub_menu_width {
  display: flex;
  align-items: center;
  height: 80px;
  width: 200px;
}
.sub_menu_Services {
  height: 120px;
  width: 250px;
}
.sub_menu_account {
  height: 150px;
  width: 150px;
  top: 34px;
  left: 0px;
}

.sub_menu_account ul li:hover {
  transform: initial !important;
}
.submenu_wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 15px;
  gap: 0;
}
.submenu_wrapper ul li {
  margin-bottom: 7px;
  transition: 0.4s ease-in-out;
}
.submenu_wrapper ul li a {
  color: var(--white-color);
  transition: 0.4s ease-in-out;
}
.submenu_wrapper ul li:hover {
  transform: translateX(8px);
}
.submenu_wrapper ul li:hover a {
  color: var(--sub-menu-color);
}
.menu_wrapper:hover .submenu_wrapper {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.sub_menu_heading {
  color: var(--sub-menu-color);
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.swiper {
  width: 100%;
  height: 100%;
}
.detail_slider1 {
  height: 55vh !important;
  padding-bottom: 5px !important;
  border: 1px solid rgba(128, 128, 128, 0.409);
}
.detail_slider2 {
  height: 10vh !important;
}
.swiper_wrapper {
  position: relative;
}
.swiper-pagination-bullet-active {
  background: var(--red) !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide a{
  color: var(--text);
}
.swiper-pagination1 {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.card_slider_1 {
  padding: 50px 15px 40px 15px !important;
}
.detail_slider2 .swiper-slide {
  border: 1px solid rgba(128, 128, 128, 0.409);
}
.detail_slider2 .swiper-slide img,
.detail_slider1 .swiper-slide img {
  object-fit: contain !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_btn {
  position: absolute;
  top: -5px;
  right: 14px;
  width: 100px;
  z-index: 99;
  line-height: 50px;
  height: 50px;
}

.heading {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: var(--red);
}
.heading::after {
  position: absolute;
  content: "";
  top: 12px;
  right: -40px;
  height: 15px;
  width: 15px;
  border-radius: 30px 30px 0px 30px;
  border: 2px solid var(--red);
  transform: rotateZ(313deg);
}
.heading::before {
  position: absolute;
  content: "";
  top: 12px;
  right: -60px;
  height: 15px;
  width: 15px;
  border-radius: 30px 30px 0px 30px;
  border: 2px solid var(--red);
  transform: rotateZ(131deg);
}

.line {
  position: absolute;
  top: 18.95px;
  right: -72px;
  display: inline-block;
  width: 60px;
  border: 1px solid var(--red);
  z-index: 9;
}
.icon_img {
  height: 55px;
  width: 55px;
  border: 1px solid #b7b2b336;
  border-radius: 50%;
  padding: 10px;
  background: #b7b2b336;
}
.icon_img img {
  height: 100%;
  width: 100%;
}
.text-mute {
  color: var(--text-mute);
}
.slider_card_wrapper {
  border: 1px solid rgba(0, 0, 0, 0.269);
  position: relative;
  border-radius: 0.35rem;
  transition: 0.3s ease-in-out;
}
.slider_card_wrapper:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
}
.badg {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.badg_card{
  position: initial;
}
.loader_wrapper {
  background: var(--red);
  text-align: center;
  white-space: nowrap;
  border-radius: 0.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  position: relative;
}
.loader_wrapper span {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.loader_wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    100deg,
    transparent 25%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 75%
  );
  animation: loading 1.5s ease infinite;
}
@keyframes loading {
  0% {
    transform: translateX(-101%);
  }
  80% {
    transform: translateX(101%);
  }
  to {
    transform: translateX(101%);
  }
}
.card_image_wrapper {
  height: 250px;
  overflow: hidden;
}

.card_image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 1.01s ease-in-out;
}
.slider_card_wrapper:hover .card_image_wrapper img {
  transform: scale(1.1);
}
.slider_card_wrapper:hover .card_text > p {
  color: var(--red);
}
.card_text {
  padding: 10px 12px;
}
.card_text > p {
  font-size: 17px;
  font-weight: 600;
}

.Star .fa-solid {
  font-size: 13px;
  color: #ffcc14;
}
.Star_wrap h5 {
  font-weight: 600;
}
.prise p {
  font-size: 16px;
  font-weight: 600;
}

.btn_style {
  position: relative;
  z-index: 1;
  padding: 10px 12px;
  max-width: 150px;
  width: 100%;
  background: #472a00;
  border: none;
  color: #fff;
  transition: 0.4s ease-in-out;
  border-radius: 0.23rem;
  overflow: hidden;
}
.card_btn {
  max-width: 95px;
  padding: 5px 5px;
  font-size: 13px;
}
.card_btn:focus .fa-long-arrow-alt-right,
.card_btn:hover .fa-long-arrow-alt-right {
  transform: translateX(20px);
  animation: myAnimation 1.2s infinite;
}
@keyframes myAnimation {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(12px);
    opacity: 0;
  }
}
.btn_style::before {
  position: absolute;
  content: "";
  height: 50%;
  width: 0%;
  background: var(--red);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.btn_style::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 0%;
  background: var(--red);
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.btn_style:hover::after,
.btn_style:hover::before {
  width: 100%;
}
.cursor {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #0b0448b0;
  z-index: 9999;
  pointer-events: none;
  transition: 0.2s ease;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: difference; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 14px !important;
  color: #b5b2b2;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  height: 40px;
  min-width: 40px;
  border: 1px solid #b5b2b2;
  line-height: 40px !important;
  text-align: center !important;
  border-radius: 50%;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  border: 1px solid var(--red) !important;
  color: var(--red);
}
.about_bg_color {
  background: #f7f9fa;
}
.blog_text p:nth-child(1) {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
}
.blog_text h4 {
  font-size: 3.4rem;
}
.bg-color {
  background: #472a00;
}
.Recommendations_twxt h6 {
  font-size: 25px;
  color: var(--white-color);
}
.Recommendations_twxt p {
  color: var(--white-color);
  font-size: 13px;
}
.Recommendations_btn {
  background: var(--white-color);
  color: var(--text);
}
.Recommendations_btn:hover {
  color: var(--white-color);
}
.social_icon .fa-brands {
  height: 43px;
  width: 43px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  line-height: 43px;
  color: var(--white-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 18px;
}
.social_icon .fa-brands::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: var(--white-color);
  transition: 0.4s ease-in-out;
}
.social_icon .fa-brands:hover::before {
  height: 100%;
  border-radius: 50%;
}
.social_icon .fa-brands:hover {
  color: var(--red);
}
.footer_h {
  font-size: 22px;
  font-weight: 600;
}
.footer_list {
  padding: 0;
}
.Copyright {
  border-top: 1px solid rgb(215, 213, 213);
}
.payment {
  height: 25px;
}
.locatoin a {
  color: var(--text);
}
.pagination {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/blog_img.png);
  padding: 10rem 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.blog_text sub {
  font-weight: 700;
  font-size: 25px;
  color: var(--white-color) !important;
  position: relative;
}
.blog_text h5{
  font-size: 14px !important;
  color: var(--white-color) !important;
}
.home_menu a:nth-child(1){
  color: var(--white-color);
}
.home_menu a:nth-child(1):hover{
  color: var(--sub-menu-color);
}
.home_menu a:nth-child(3){
  color: var(--sub-menu-color);
}
.crass{
  height: 2px;
  min-width:16px;
  background: var(--sub-menu-color);
  transform: rotateZ(295deg)
}
.card_inner{
  -webkit-box-shadow: 0 1px 2px rgba(56, 65, 74, 0.24);
    box-shadow: 0 1px 5px rgba(56, 65, 74, 0.24);
    word-wrap: break-word;
    background-color: var(--white-color);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;

}
.card_inner h6{
  font-size: 14px;
  font-weight: 400;
}
.card_inner sub{
  font-size: 20px;
  font-weight: 600;
}
.size{
  height: 35px;
  width: 35px;
  border: 1px solid var(--red);
  text-align: center;
  line-height: 25px;
  padding: 5px;
  font-size: 12px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.size:focus,
.size.active,
.size:hover{
  background: var(--red);
  color: var(--white-color);
}

.color_option{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid rgba(102, 51, 153, 0);
  transition: 0.4s ease-in-out;
}
.color_option:hover,
.color_option.active{
  border: 1px solid var(--red);
}

.color_option .green,
.color_option .blue,
.color_option .pink,
.color_option .red{
  background: red;
  height: 17px;
  min-width: 17px;
  border-radius: 50%;
}
.color_option .green{
  background: green;
}
.color_option .blue{
  background: blue;
}
.color_option .pink{
  background: pink;
}
.badge_ {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background: var(--red);
}
.badge-soft-primary {
  color: #405189;
  background-color: rgba(64, 81, 137, .1);
}
.dis_text{
  font-weight: 600;
  font-size: 15px;
}
.Rating{
  font-size: 13px;
}
.quality_input{
  height: 40px !important;
  width: 100px !important;
}
.form-control:focus {
  color: var(--text);
  background-color:var(--white-color) !important;
  border-color: var(--red) !important;
  outline: 0;
  box-shadow: initial !important;
}
/* styles.css */
.img-magnifier-container {
  position: relative;
  
}

#myimage {
  width: 100%;
  height: auto;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #00000028;
  cursor: none;
  width: 300px;
  height: 200px;
  display: none; 
  pointer-events: none; /* Ensure pointer events pass through */
}

@media only screen and (max-width: 1080px) {
  nav {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    width: 70%;
    height: 100vh;
    background: #ffffff;
    padding: 15px 20px;
    transition: 0.6s ease-in-out;
    z-index: 99;
    overflow-y: scroll;
  }

  .menu_wrapper .active {
    display: flex !important;
  }
  .sub_menu_account,
  .submenu_wrapper {
    position: initial;
    top: 56px;
    left: -5px;
    height: inherit;
    width: initial;
    z-index: 99;
    transform: initial;
    transition: 0.4s ease-in;
    opacity: initial;
    visibility: initial;
    flex-direction: column;
    display: none;
    background: initial;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  nav ul li:nth-child(4) {
    order: -1;
  }
  nav ul li:nth-child(4) .logo {
    height: 38px;
    width: 200px;
  }
  .mobile {
    left: 0;
  }
  .for_pc_none {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  .for_padding {
    padding: 0px 0;
  }
  .submenu_wrapper ul li a {
    color: var(--text);
    transition: 0.4s ease-in-out;
  }
  .submenu_wrapper ul li:hover {
    transform: translateX(8px);
  }
  .submenu_wrapper ul li:hover a {
    color: var(--red);
  }
  .sub_menu_heading {
    color: var(--red);
  }
}
@media only screen and (max-width: 998px) {
  .blog_text p:nth-child(1) {
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
  }
  .blog_text h4 {
    font-size: 2.4rem;
  }
}
